.Nav{
    display: flex;
    height: 10vh;
    width: 100%;
    position: fixed;
    background-color: transparent;
    z-index: 5;
    color: white;
    justify-content: space-between;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-self: flex-end;
    padding: 10px;
}
.nav-bar > div.nav-bar-item{
    margin: 0 20px;
    padding: 10px 15px;
    border: 3px solid lightcoral;
    background-color: #00000094;
}

.hamburger{
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50px;
    height: 50px;
    padding: 10px;
}
.hamburger-link{
    width: 38px;
    height: 5px;
    background-color: lightcoral;
    border-radius: 2px;
}
.logo{
    font-family: 'Ceviche One', cursive;
    display: flex;
    align-items: center;
    font-size: 2.8rem;
    padding: 10px;
}
.logo span{
    color: lightcoral;
}